h1{
    color: red;
}

.header{
    display:flex;
    justify-content: space-between;
    border: 2px dotted black;
}
.div-logo{
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 90px;
}

.nav-items > ul{
    display:flex;
    list-style-type: none;
    padding-right: 150px;
    
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

.res-card{
    padding: 5px;
    width: 210px;
    margin: 5px;
}

.res-card:hover{
    border: 2px dotted black;
    cursor: pointer;
}

.Search{
    padding: 10px;
}
.res-logo{
    width: 93%;
    border: 2px solid black;
    margin: 5px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter{
    display: flex;
    padding: 10px;
}

.filter-btn{
    margin-left: 20px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-cards{
    padding: 5px;
    width: 210px;
    height: 300px;
    margin: 5px;
    background-color: #e07979;
}
.login{
    padding: 10px;
    cursor: pointer;
}
